* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', Arial, sans-serif;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

body {
    scroll-behavior: smooth;
    background: #151519;
    color: #f4f4f4;
}

header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #0f0f0f;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.logotipo-container img {
    width: 150px;
    height: auto;
}

.options-container a {
    text-decoration: none;
    color: #f4f4f4;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.options-container a:hover {
    color: #FCE185;
}

main {
    margin-top: 10%;
    margin-bottom: 10%;
}

.table-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(41, 41, 56, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    text-align: center;
    color: #FCE185;
    font-size: 36px;
    margin-bottom: 20px;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

thead {
    background-color: #1E1E32;
    color: #f4f4f4;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    font-weight: bold;
}

#linhas:hover {
    background-color: #303047;
}

.book-cover {
    width: 50px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
}

.button {
    padding: 8px 12px;
    background-color: #1E1E32;
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    margin-top: 5px;
    white-space: nowrap;
}

.button:hover {
    background-color: #FCE185;
    color: #1c1c1c;
    transform: scale(1.1);
}

footer {
    background-color: #0f0f0f;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    table {
        font-size: 14px;
        min-width: 800px;
    }

    .button {
        font-size: 12px;
        padding: 6px 10px;
        margin: 5px 5px 0 0;
    }

    th, td {
        padding: 8px;
    }

    h1 {
        font-size: 28px;
    }

    td {
        white-space: normal;
    }
}